*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 5rem !important;
    
}
body{
    min-height: 100vh;

    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}




