@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
} */


img{
    height: 24px;
    aspect-ratio: 1;
}



thead th, td {
    text-align: start;
    padding: 16px;
}



.buttons img{
    cursor: pointer;
}

.toast{
    margin-right: 40px;}